fastapi
livekit
livekit-agents
livekit-api
livekit-plugins-deepgram
livekit-plugins-google
livekit-plugins-openai
livekit-plugins-silero
dotenv
requests
pyshorteners
huggingface-hub
MarkupSafe
pydantic
sentence-transformers
torch
tqdm
transformers
uvicorn