cryptography
dotenv
bson
fastapi
huggingface-hub
livekit
livekit-agents
livekit-api
livekit-plugins-deepgram
livekit-plugins-google
livekit-plugins-openai
livekit-plugins-silero
markupsafe
pydantic[email]
pymongo
pyshorteners
requests
sentence-transformers
tqdm
torch==2.9.0+cpu
transformers
uvicorn
